@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1023px) {
  .quotes::-webkit-scrollbar {
    height: 10px;
  }

  .quotes::-webkit-scrollbar-thumb {
    background: #63cbf8;
  }

  .quotes::-webkit-scrollbar-track {
    background: white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin-left: 15vw;
    margin-right: 15vw;
    background-clip: padding-box;
  }
}

@media only screen and (min-width: 1024px) {
  .quotes::-webkit-scrollbar {
    height: 11px;
  }

  .quotes::-webkit-scrollbar-thumb {
    background: #63cbf8;
  }

  .quotes::-webkit-scrollbar-track {
    background: white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 15vw;
    margin-right: 15vw;
    background-clip: padding-box;
  }
}

.ant-select .ant-select-arrow {
  color: rgba(255, 255, 255, 0.4);
  padding: 15px;
}
.ant-picker-calendar .ant-select .ant-select-arrow {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 15px !important;
  padding-right: 3px !important;
}

.ant-picker-calendar .ant-picker-calendar-header {
  padding-bottom: 64px;
}

.ant-picker-calendar .ant-picker-calendar-header .ant-picker-calendar-mode-switch {
  display: none;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
