@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media only screen and (max-width: 1023px) {
  .customScroll::-webkit-scrollbar {
    height: 10px;
  }

  .customScroll::-webkit-scrollbar-thumb {
    background: white;
  }

  .customScroll::-webkit-scrollbar-track {
    background: white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin-left: 15vw;
    margin-right: 15vw;
    background-clip: padding-box;
  }
}

@media only screen and (min-width: 1024px) {
  .customScroll::-webkit-scrollbar {
    height: 5px;
  }

  .customScroll::-webkit-scrollbar-thumb {
    background: white;
  }

  .customScroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.394);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-left: 30vw;
    margin-right: 30vw;
    background-clip: padding-box;
  }
}

.ant-select .ant-select-arrow {
  color: rgba(255, 255, 255, 0.4);
  padding: 15px;
}
.ant-picker-calendar .ant-select .ant-select-arrow {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 15px !important;
  padding-right: 3px !important;
}

.ant-picker-calendar .ant-picker-calendar-header {
  padding-bottom: 64px;
}

.ant-picker-calendar
  .ant-picker-calendar-header
  .ant-picker-calendar-mode-switch {
  display: none;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.ant-picker-calendar {
  background: #0c0c0c;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background: #0c0c0c;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel {
  background: #0c0c0c;
}
